# Biodiversity in US National Parks

## Coder Girl 2021 Data Science Final Project
#### Chrissy Bellizzi and Jenny Arbuszewski

# Executive Summary

## Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading in our CSV files

In [2]:
#defining a function to read our csv files and create dataframes
def read_csv(file, data_type = None):
    df_name = pd.read_csv(file, dtype = data_type)
    return df_name

species_df = read_csv('species.csv', str)
species_df.head()

#This is honestly faster to NOT use a function.

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [3]:
parks_df = read_csv('parks.csv')
parks_df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

# Preprocessing

### Renaming Columns to eliminate spaces

In [4]:

species_df.rename(columns = {'Species ID':'Species_ID'}, inplace = True)

species_df.rename(columns = {'Park Name':'Park_name'}, inplace = True)

species_df.rename(columns = {'Scientific Name':'Scientific_name'}, inplace = True)

species_df.rename(columns = {'Common Names':'Common_name'}, inplace = True)

species_df.rename(columns = {'Record Status':'Record_status'}, inplace = True)

species_df.rename(columns = {'Conservation Status':'Conservation_status'}, inplace = True)
species_df

,Species_ID,Park_name,Category,Order,Family,Scientific_name,Common_name,Record_status,Occurrence,Nativeness,Abundance,Seasonality,Conservation_status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanales,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,Present,Native,Uncommon,NaN,NaN,NaN
119244,ZION-2792,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis arizonica,Canyon Grape,Approved,Present,Native,Uncommon,NaN,NaN,NaN
119245,ZION-2793,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis vinifera,Wine Grape,Approved,Present,Not Native,Uncommon,NaN,NaN,NaN
119246,ZION-2794,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,Present,Native,Rare,NaN,NaN,NaN
119247,ZION-2795,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,Present,Not Native,Uncommon,NaN,NaN,NaN

In [5]:
#removing spaces for park code and park name

parks_df.rename(columns = {'Park Code':'Park_code'}, inplace = True)

parks_df.rename(columns = {'Park Name':'Park_name'}, inplace = True)

parks_df.head()

  Park_code               Park_name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

### Removing Empty column

In [6]:
species_df.head()
#Note: not sure why there is a 14th data column showing-there are only 13 columns of data-this is confirmed
#in the documentation for the dataset. Will come back and drop that.

,Species_ID,Park_name,Category,Order,Family,Scientific_name,Common_name,Record_status,Occurrence,Nativeness,Abundance,Seasonality,Conservation_status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [7]:
#drop that extra column in species_df
species_df = species_df.iloc[: , :-1]
species_df

,Species_ID,Park_name,Category,Order,Family,Scientific_name,Common_name,Record_status,Occurrence,Nativeness,Abundance,Seasonality,Conservation_status
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanales,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,Present,Native,Uncommon,NaN,NaN
119244,ZION-2792,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis arizonica,Canyon Grape,Approved,Present,Native,Uncommon,NaN,NaN
119245,ZION-2793,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis vinifera,Wine Grape,Approved,Present,Not Native,Uncommon,NaN,NaN
119246,ZION-2794,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,Present,Native,Rare,NaN,NaN
119247,ZION-2795,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,Present,Not Native,Uncommon,NaN,NaN

### Dropping the species_id column

In [8]:
species_df.drop(['Species_ID'], axis=1)

,Park_name,Category,Order,Family,Scientific_name,Common_name,Record_status,Occurrence,Nativeness,Abundance,Seasonality,Conservation_status
0,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN
1,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN
2,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern
3,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered
4,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
119243,Zion National Park,Vascular Plant,Solanales,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,Present,Native,Uncommon,NaN,NaN
119244,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis arizonica,Canyon Grape,Approved,Present,Native,Uncommon,NaN,NaN
119245,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis vinifera,Wine Grape,Approved,Present,Not Native,Uncommon,NaN,NaN
119246,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,Present,Native,Rare,NaN,NaN
119247,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,Present,Not Native,Uncommon,NaN,NaN

### Creating a new column for Plant/Animal Boolean

In [193]:
plant_animal_boolean_list = []
for entry in species_df['Category']:
    if entry == 'Vascular Plant' or  entry =='Fungi' or entry =='Nonvascular Plant' or entry =='Algae':
        plant_animal_boolean = 0
        plant_animal_boolean_list.append(plant_animal_boolean)
    else:
        plant_animal_boolean = 1
        plant_animal_boolean_list.append(plant_animal_boolean)

species_df['plant_animal_boolean'] = plant_animal_boolean_list

species_df.head()

,Species_ID,Park_name,Category,Order,Family,Scientific_name,Common_name,Record_status,Occurrence,Nativeness,Abundance,Seasonality,Conservation_status,plant_animal_boolean
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,1
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,1
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,1
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,1
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,1

### Looking at the number of unique entries

In [194]:
def unique(dataframe, column):
    print('The unique categories and number of values for ' + column + ' are: ')
    print(dataframe[str(column)].unique())
    print(dataframe[str(column)].nunique())

unique(species_df, 'Category')

The unique categories and number of values for Category are:
['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Spider/Scorpion' 'Insect' 'Invertebrate' 'Fungi' 'Nonvascular Plant'
 'Crab/Lobster/Shrimp' 'Slug/Snail' 'Algae']
14

In [195]:
unique(species_df, 'Park_name')

The unique categories and number of values for Park_name are:
['Acadia National Park' 'Arches National Park' 'Badlands National Park'
 'Big Bend National Park' 'Biscayne National Park'
 'Black Canyon of the Gunnison National Park' 'Bryce Canyon National Park'
 'Canyonlands National Park' 'Capitol Reef National Park'
 'Carlsbad Caverns National Park' 'Channel Islands National Park'
 'Congaree National Park' 'Crater Lake National Park'
 'Cuyahoga Valley National Park' 'Denali National Park and Preserve'
 'Death Valley National Park' 'Dry Tortugas National Park'
 'Everglades National Park'
 'Gates Of The Arctic National Park and Preserve' 'Glacier National Park'
 'Glacier Bay National Park and Preserve' 'Great Basin National Park'
 'Grand Canyon National Park'
 'Great Sand Dunes National Park and Preserve'
 'Great Smoky Mountains National Park' 'Grand Teton National Park'
 'Guadalupe Mountains National Park' 'Haleakala National Park'
 'Hawaii Volcanoes National Park' 'Hot Springs National Park'
 'Isle Royale National Park' 'Joshua Tree National Park'
 'Katmai National Park and Preserve' 'Kenai Fjords National Park'
 'Kobuk Valley National Park' 'Lake Clark National Park and Preserve'
 'Lassen Volcanic National Park' 'Mammoth Cave National Park'
 'Mesa Verde National Park' 'Mount Rainier National Park'
 'North Cascades National Park' 'Olympic National Park'
 'Petrified Forest National Park' 'Pinnacles National Park'
 'Redwood National Park' 'Rocky Mountain National Park'
 'Saguaro National Park' 'Sequoia and Kings Canyon National Parks'
 'Shenandoah National Park' 'Theodore Roosevelt National Park'
 'Voyageurs National Park' 'Wind Cave National Park'
 'Wrangell - St Elias National Park and Preserve'
 'Yellowstone National Park' 'Yosemite National Park' 'Zion National Park']
56

In [196]:
unique(species_df, 'Species_ID')

The unique categories and number of values for Species_ID are:
['ACAD-1000' 'ACAD-1001' 'ACAD-1002' ... 'ZION-2793' 'ZION-2794'
 'ZION-2795']
119248

In [197]:
unique(species_df, 'Order')

The unique categories and number of values for Order are:
['Artiodactyla' 'Carnivora' 'Chiroptera' 'Lagomorpha' 'Rodentia'
 'Soricomorpha' 'Accipitriformes' 'Anseriformes' 'Apodiformes'
 'Caprimulgiformes' 'Charadriiformes' 'Columbiformes' 'Coraciiformes'
 'Cuculiformes' 'Falconiformes' 'Galliformes' 'Gaviiformes' 'Gruiformes'
 'Passeriformes' 'Pelecaniformes' 'Piciformes' 'Podicipediformes'
 'Procellariiformes' 'Strigiformes' 'Suliformes' 'Squamata' 'Testudines'
 'Anura' 'Caudata' 'Anguilliformes' 'Atheriniformes' 'Clupeiformes'
 'Cypriniformes' 'Cyprinodontiformes' 'Esociformes' 'Gadiformes'
 'Gasterosteiformes' 'Osmeriformes' 'Perciformes' 'Pleuronectiformes'
 'Salmoniformes' 'Siluriformes' nan 'Acorales' 'Alismatales' 'Apiales'
 'Aquifoliales' 'Asparagales' 'Asterales' 'Boraginales' 'Brassicales'
 'Caryophyllales' 'Celastrales' 'Ceratophyllales' 'Commelinales'
 'Cornales' 'Cucurbitales' 'Dipsacales' 'Equisetales' 'Ericales' 'Fabales'
 'Fagales' 'Gentianales' 'Geraniales' 'Isoetales' 'Lamiales' 'Liliales'
 'Lycopodiales' 'Malpighiales' 'Malvales' 'Myrtales' 'Nymphaeales'
 'Ophioglossales' 'Osmundales' 'Oxalidales' 'Pinales' 'Piperales' 'Poales'
 'Polypodiales' 'Ranunculales' 'Rosales' 'Santalales' 'Sapindales'
 'Saxifragales' 'Selaginellales' 'Solanales' 'Vitales' 'Ephedrales'
 'Zygophyllales' 'Perissodactyla' 'Osteoglossiformes' 'Araneae'
 'Coleoptera' 'Diptera' 'Hemiptera' 'Hymenoptera' 'Lepidoptera'
 'Orthoptera' 'Stauromedusae' 'Acarosporales' 'Agyriales' 'Arthoniales'
 'Candelariales' 'Lecanorales' 'Lichinales' 'Ostropales' 'Peltigerales'
 'Pertusariales' 'Rhizocarpales' 'Teloschistales' 'Umbilicariales'
 'Verrucariales' 'Didelphimorphia' 'Trogoniformes' 'Acipenseriformes'
 'Characiformes' 'Semionotiformes' 'Arecales' 'Crossosomatales'
 'Garryales' 'Schizaeales' 'Bartramiales' 'Bryales' 'Dicranales'
 'Funariales' 'Grimmiales' 'Hedwigiales' 'Hypnales' 'Orthotrichales'
 'Pottiales' 'Cetacea' 'Sirenia' 'Ciconiiformes' 'Phaethontiformes'
 'Phoenicopteriformes' 'Crocodilia' 'Albuliformes' 'Amiiformes'
 'Aulopiformes' 'Batrachoidiformes' 'Beloniformes' 'Beryciformes'
 'Carcharhiniformes' 'Elopiformes' 'Lampridiformes' 'Lophiiformes'
 'Mugiliformes' 'Myliobatiformes' 'Ophidiiformes' 'Orectolobiformes'
 'Percopsiformes' 'Pristiformes' 'Rajiformes' 'Rhinobatiformes'
 'Scorpaeniformes' 'Squaliformes' 'Stomiiformes' 'Tetraodontiformes'
 'Torpediniformes' 'Canellales' 'Cycadales' 'Laurales' 'Magnoliales'
 'Psilotales' 'Zingiberales' 'Anthoathecatae' 'Scleractinia' 'Salviniales'
 'Cingulata' 'Chimaeriformes' 'Heterodontiformes' 'Lamniformes'
 'Myctophiformes' 'Myxiniformes' 'Squatiniformes' 'Proteales'
 'Acrochaetiales' 'Ahnfeltiales' 'Bangiales' 'Bonnemaisoniales'
 'Bryopsidales' 'Ceramiales' 'Cladophorales' 'Corallinales' 'Gelidiales'
 'Gigartinales' 'Rhodymeniales' 'Ulvales' 'Amphipoda' 'Decapoda'
 'Pedunculata' 'Sessilia' 'Archaeogastropoda' 'Basommatophora'
 'Neogastropoda' 'Neotaenioglossa' 'Patellogastropoda'
 'Systellommatophora' 'Mesostigmata' 'Actiniaria' 'Amphioxiformes'
 'Apodida' 'Arbacioida' 'Aspidochirotida' 'Canalipalpata' 'Cheilostomata'
 'Chitonida' 'Clathrinida' 'Clypeasteroida' 'Cyclostomata'
 'Dendrochirotida' 'Diadematoida' 'Echinoida' 'Enterogona' 'Forcipulatida'
 'Limoida' 'Lingulida' 'Molpadiida' 'Myoida' 'Mytiloida' 'Octopoda'
 'Ophiurida' 'Ostreoida' 'Paxillosida' 'Pholadomyoida' 'Pleurogona'
 'Pterioida' 'Pyrosomida' 'Salpida' 'Sepiolida' 'Solemyoida' 'Spatangoida'
 'Spinulosida' 'Temnopleuroida' 'Teuthida' 'Valvatida' 'Veneroida'
 'Cutleriales' 'Desmarestiales' 'Dictyosiphonales' 'Dictyotales'
 'Ectocarpales' 'Fucales' 'Laminariales' 'Scytosiphonales'
 'Sphacelariales' 'Sporochnales' 'Dioscoreales' 'Porellales'
 'Sphaeropleales' 'Sphagnales' 'Harpacticoida' 'Isopoda'
 'Architaenioglossa' 'Nudibranchia' 'Stylommatophora' 'Ephemeroptera'
 'Mantodea' 'Megaloptera' 'Odonata' 'Plecoptera' 'Trichoptera'
 'Arhynchobdellida' 'Collembola' 'Neoophora' 'Spirobolida' 'Tubificida'
 'Agaricales' 'Atractiellales' 'Auriculariales' 'Boletales'
 'Cantharellales' 'Capnodiales' 'Ceratiomyxales' 'Dacrymycetales'
 'Geastrales' 'Geoglossales' 'Helotiales' 'Hymenochaetales' 'Lecideales'
 'Leotiales' 'Liceales' 'Lycoperdales' 'Pezizales' 'Phallales'
 'Physarales' 'Polyporales' 'Pyrenulales' 'Russulales' 'Stemonitales'
 'Tremellales' 'Trichiales' 'Trypetheliales' 'Xylariales' 'Achnanthales'
 'Aulacoseirales' 'Bacillariales' 'Cymbellales' 'Eunotiales'
 'Fragilariales' 'Naviculales' 'Surirellales' 'Tabellariales'
 'Petromyzontiformes' 'Anthocerotales' 'Chaetosphaeridiales'
 'Chlamydomonadales' 'Chlorellales' 'Desmidiales' 'Encalyptales'
 'Glaucocystales' 'Jungermanniales' 'Marchantiales' 'Oedogoniales'
 'Pelliales' 'Polytrichales' 'Rhizogoniales' 'Splachnales' 'Ulotrichales'
 'Zygnematales' 'Anostraca' 'Bolelloid' 'Brandionus' 'Calanoida'
 'Cyclopoida' 'Diplostraca' 'Ostracoda' 'Podocopida' 'Ixodida' 'Opiliones'
 'Scorpiones' 'Archaeognatha' 'Blattodea' 'Homoptera' 'Mecoptera'
 'Neuroptera' 'Raphidioptera' 'Siphonaptera' 'Thysanoptera'
 'Collothecaceae' 'Copelata' 'Flosculariaceae' 'Gordioidea' 'Julida'
 'Lumbriculida' 'Parachela' 'Ploima' 'Polydesmida' 'Rhynchobdellida'
 'Cortinariales' 'Dothideales' 'Eumycota' 'Exobasidiales' 'Hypocreales'
 'Pleosporales' 'Pucciniales' 'Rhytismatales' 'Saprolegniales'
 'Taphrinales' 'Uredinales' 'Ustilaginales' 'Chromalinales'
 'Chrysocapsales' 'Coscinodiscales' 'Cryptomonadales' 'Gonyaulacales'
 'Gymnodiniales' 'Isochrysidales' 'Melosirales' 'Mischococcales'
 'Ochromonadales' 'Peridiniales' 'Prymnesiales' 'Rhizochloridales'
 'Rhopalodiales' 'Thalassiophysales' 'Thalassiosirales' 'Tribonematales'
 'Vaucheriales' 'Buxales' 'Heterostropha' 'Acari' 'Unionoida'
 'Ptilidiales' 'Timmiales' 'Pseudophyllidea' 'Primates' 'Psittaciformes'
 'Austrobaileyales' 'Batrachospermales' 'Charales' 'Klebsormidiales'
 'Notostraca' 'Mesogastropoda' 'Acariformes' 'Pseudoscorpiones'
 'Schizomida' 'Zygentoma' 'Callipodida' 'Rhabditida' 'Spirurida'
 'Strongylida' 'Baeomycetales' 'Eurotiales' 'Microascales' 'Mucorales'
 'Onygenales' 'Peronosporales' 'Sordariales' 'Trichosphaeriales'
 'Mastogloiales' 'Pandanales' 'Synbranchiformes' 'Hymenophyllales'
 'Picramniales' 'Andreaeales' 'Blasiales' 'Buxbaumiales' 'Fossombroniales'
 'Metzgeriales' 'Scouleriales' 'Tetraphidales' 'Hexanchiformes'
 'Stephanoberyciformes' 'Halymeniales' 'Palmariales' 'Peyssonneliales'
 'Plocamiales' 'Euphausiacea' 'Poecilostomatoida' 'Trombidiformes'
 'Alcyonacea' 'Halichondrida' 'Hydroida' 'Leptothecatae' 'Leucosolenida'
 'Paleonemertea' 'Pennatulacea' 'Phrynophiurida' 'Poecilosclerida'
 'Polycladida' 'Terebratulida' 'Velatida' 'Chaetophorales' 'Prasiolales'
 'Oribatida' 'Psocoptera' 'Chordeumatida' 'Gomphales' 'Solpugida'
 'Dendrocerotales' 'Hookeriales' 'Notothyladales' 'Pallaviciniales'
 'Phasmida' 'Apochela' 'Branchiobdellida' 'Diplura' 'Echiniscoidea'
 'Enchytraeida' 'Scolopendrida' 'Mycocaliciales' 'Erysiphales'
 'Cyatheales' 'Gleicheniales' 'Gunnerales' 'Huerteales' 'Marattiales'
 'Hildenbrandiales' 'Hypnodendrales' 'Neritopsina' 'Pseudoscorpionida'
 'Sarcoptiformes' 'Dermaptera' 'Embioptera' 'Psocodea' 'Haplosclerida'
 'Escalloniales' 'Tanaidacea' 'Anaspidea' 'Cephalaspidea' 'Notaspidea'
 'Strepsiptera' 'Arcoida' 'Astrophorida' 'Baerida' 'Chondrosida'
 'Cidaroida' 'Dictyoceratida' 'Echiurida' 'Eunicida' 'Hadromerida'
 'Heteronemertea' 'Hoplonemertea' 'Lithobiomorpha' 'Opisthopora'
 'Phyllodocida' 'Plagiorchiida' 'Scolecida' 'Spirostreptida' 'Zoantharia'
 'Saccharomycetales' 'Coleochaetales' 'Chaetocerotales' 'Chlorococcales'
 'Microthamniales' 'Solifugae' 'Ascaridida' 'Semaeostomeae'
 'Sipunculiformes' 'Oedipodiales' 'Plumatellida' 'Endogonales'
 'Bryoxiphiales' 'Grylloblattodea' 'Thelephorales' 'Mermithida'
 'Zeiformes' 'Cryptonemiales' 'Erythropeltidales' 'Nemastomatales'
 'Mysida' 'Podocopa' 'Odonates' 'Amphinomida' 'Corallimorpharia'
 'Ctenostomata' 'Cydippida' 'Echinorhynchida' 'Echinostomida'
 'Golfingiiformes' 'Haplotaxida' 'Opisthorchiida' 'Pantopoda'
 'Phascolosomatiformes' 'Solitaria' 'Strigeatida' 'Trachymedusae'
 'Botryosphaeriales' 'Chrysamoebidales' 'Rhizochrysidales' 'Tetrasporales'
 'Trebouxiales' 'Conchostraca' 'Cyclorhagida' 'Corticiales'
 'Echinostelliales' 'Neolectales' 'Pennales' 'Rhizosoleniales'
 'Ginkgoales' 'Sebacinales' 'Siphonostomatoida' 'Myxosporida'
 'Neoechinorhynchida']
554

In [198]:
unique(species_df, 'Family')

The unique categories and number of values for Family are:
['Cervidae' 'Canidae' 'Felidae' ... 'Pseudeurotiaceae'
 'Cunninghamellaceae' 'Saccharomycetaceae']
2332

In [199]:
unique(species_df, 'Scientific_name')

The unique categories and number of values for Scientific_name are:
['Alces alces' 'Odocoileus virginianus' 'Canis latrans' ...
 'Selaginella utahensis' 'Calystegia longipes'
 'Physalis hederifolia var. palmeri']
46022

In [200]:
unique(species_df, 'Category')

The unique categories and number of values for Category are:
['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Spider/Scorpion' 'Insect' 'Invertebrate' 'Fungi' 'Nonvascular Plant'
 'Crab/Lobster/Shrimp' 'Slug/Snail' 'Algae']
14

In [201]:
unique_states = parks_df['State'].unique()
print(unique_states)

num_unique_states = parks_df['State'].nunique()
print(num_unique_states)

['ME' 'UT' 'SD' 'TX' 'FL' 'CO' 'NM' 'CA' 'SC' 'OR' 'OH' 'AK' 'CA, NV' 'MT'
 'NV' 'AZ' 'TN, NC' 'WY' 'HI' 'AR' 'MI' 'KY' 'WA' 'VA' 'ND' 'MN'
 'WY, MT, ID']
27

### Considering basic information about size of parks

In [202]:
parks_df['Acres'].describe()

count    5.600000e+01
mean     9.279291e+05
std      1.709258e+06
min      5.550000e+03
25%      6.901050e+04
50%      2.387645e+05
75%      8.173602e+05
max      8.323148e+06
Name: Acres, dtype: float64

### Making maps of park states, locations, number of parks per state, and biodiversity measures within parks.

In [203]:
#Considering number of species in a given park

#species_df.groupby(['Park_name']).count()

species_df.groupby(['Park_name']).nunique()

,Species_ID,Category,Order,Family,Scientific_name,Common_name,Record_status,Occurrence,Nativeness,Abundance,Seasonality,Conservation_status,plant_animal_boolean
Park_name,,,,,,,,,,,,,
Acadia National Park,1709,6,86,231,1709,1605,3,5,4,7,4,5,2
Arches National Park,1048,6,62,166,1048,1036,2,4,3,6,4,5,2
Badlands National Park,1389,10,88,219,1388,1031,3,6,4,7,5,5,2
Big Bend National Park,2269,7,90,258,2269,2144,2,3,3,6,4,5,2
Biscayne National Park,1726,8,116,361,1725,1605,3,6,4,6,5,6,2
Black Canyon of the Gunnison National Park,1106,6,63,169,1106,1087,1,4,3,6,4,5,2
Bryce Canyon National Park,1286,6,59,162,1286,1272,2,4,3,6,4,4,2
Canyonlands National Park,1223,6,71,180,1223,1207,1,4,2,6,4,4,2
Capitol Reef National Park,1566,6,68,190,1566,1548,1,4,3,6,4,4,2
Carlsbad Caverns National Park,1536,6,71,199,1536,1514,2,4,3,3,4,6,2
Channel Islands National Park,1885,13,165,420,1885,1622,2,3,2,6,4,5,2
Congaree National Park,2321,14,165,497,2320,1523,2,4,3,6,4,5,2
Crater Lake National Park,3760,14,202,588,3757,1870,2,5,3,6,4,6,2
Cuyahoga Valley National Park,1941,11,116,319,1938,1663,2,5,3,6,4,6,2
Death Valley National Park,4439,14,171,472,4437,2687,3,6,4,7,7,6,2
Denali National Park and Preserve,1320,9,86,198,1320,1078,2,5,3,6,3,3,2
Dry Tortugas National Park,848,6,76,212,848,822,2,4,3,6,4,5,2
Everglades National Park,2084,6,124,393,2084,1985,4,6,4,7,7,9,2
Gates Of The Arctic National Park and Preserve,1353,6,70,168,1351,800,2,3,2,6,4,1,2
Glacier Bay National Park and Preserve,1957,14,185,432,1957,1635,2,5,3,6,4,5,2
Glacier National Park,2556,13,125,326,2556,1863,2,5,3,6,4,4,2
Grand Canyon National Park,2622,10,88,264,2621,2351,2,5,3,6,19,5,2
Grand Teton National Park,2030,13,85,237,2028,1665,4,6,4,8,5,5,2
Great Basin National Park,2653,13,111,328,2651,1766,2,5,3,6,4,5,2
Great Sand Dunes National Park and Preserve,952,8,62,164,952,936,41,5,4,8,7,5,2
Great Smoky Mountains National Park,6623,13,201,723,6616,3382,2,5,3,6,4,5,2
Guadalupe Mountains National Park,1746,13,103,284,1746,1615,2,4,3,6,3,6,2
Haleakala National Park,2580,13,143,497,2580,1085,2,5,3,6,4,4,2
Hawaii Volcanoes National Park,3298,13,179,614,3298,1309,1,5,3,6,4,5,2
Hot Springs National Park,1950,12,138,328,1950,1636,2,5,3,6,3,5,2
Isle Royale National Park,1397,9,88,215,1397,1352,2,5,3,6,4,5,2
Joshua Tree National Park,2294,12,104,294,2293,1503,2,5,3,6,4,5,2
Katmai National Park and Preserve,1225,11,103,221,1223,993,2,4,3,6,4,4,2
Kenai Fjords National Park,1057,9,90,197,1055,980,2,4,3,6,4,4,2
Kobuk Valley National Park,1025,7,80,169,1024,659,2,2,2,6,3,2,2
Lake Clark National Park and Preserve,2007,10,112,257,2002,1527,2,5,3,6,4,4,2
Lassen Volcanic National Park,1797,13,131,287,1797,1516,2,5,3,6,4,6,2
Mammoth Cave National Park,2499,11,106,298,2499,2185,2,5,3,6,3,5,2
Mesa Verde National Park,1243,5,63,173,1243,1220,2,5,2,6,4,5,2
Mount Rainier National Park,1743,9,107,249,1743,1429,5,5,4,7,6,4,2
North Cascades National Park,3363,10,143,451,3363,2074,2,4,3,6,9,5,2
Olympic National Park,1948,7,83,237,1948,1841,2,5,3,6,6,5,2
Petrified Forest National Park,853,7,52,133,853,838,2,4,2,6,4,4,2
Pinnacles National Park,1416,12,103,287,1416,1073,2,5,3,6,4,4,2
Redwood National Park,6310,14,328,945,6241,2750,2,5,3,6,4,5,2
Rocky Mountain National Park,3152,14,172,488,3136,1836,3,5,4,6,4,5,2
Saguaro National Park,1834,7,69,204,1830,1797,3,6,4,7,5,4,2
Sequoia and Kings Canyon National Parks,1995,6,79,211,1995,1879,1,5,3,6,5,6,2
Shenandoah National Park,4655,13,174,534,4634,2974,2,4,3,6,6,5,2
Theodore Roosevelt National Park,1165,13,89,200,1165,1053,2,4,3,6,2,5,2
Voyageurs National Park,1453,10,95,230,1453,1436,2,5,3,6,4,5,2
Wind Cave National Park,1395,9,77,204,1394,1297,2,5,3,6,4,5,2
Wrangell - St Elias National Park and Preserve,1796,10,84,206,1792,1501,2,5,3,6,9,5,2
Yellowstone National Park,3966,14,145,464,3963,1844,2,5,3,6,9,5,2
Yosemite National Park,2088,6,77,206,2087,1904,2,4,3,6,8,5,2
Zion National Park,1796,6,73,206,1796,1773,2,4,3,6,4,5,2

## First Pass -- missing data, data types, etc

In [165]:
# deal with missing data for species

#deal with missing data for parks

#convert to appropriate data types if needed

#### Seasonality

In [166]:
#what are the possible labels for the "Seasonality" column?
species_df["Seasonality"].value_counts()

Breeder                                 12214
Resident                                 3215
Migratory                                2825
Vagrant                                  1660
Breeder, Winter                            64
Rare                                       35
Summer                                     26
Migratory, Winter                          24
Breeder, Resident                          20
Winter                                     20
Breeder, Migratory                         13
Resident, Winter                            9
Uncommon                                    5
Common                                      4
Migratory, Vagrant                          4
Breeder, Resident, Summer                   3
Migratory, Summer                           3
Summer, Vagrant                             3
Unknown                                     3
Breeder, Summer                             2
Resident, Summer                            2
Breeder, Resident, Migratory, Summer        1
Winter, Vagrant                             1
Breeder, Resident, Summer, Winter           1
Name: Seasonality, dtype: int64

In [167]:
#20 labels in "Seasonality"; several have only a few entries - outliers may skew data
#good amount of null values as well
#let's focus on four main "Seasonality" labels

species_df = species_df[species_df['Seasonality'].isin(["Breeder", "Resident", "Vagrant", "Migratory"])]
species_df

,Species_ID,Park_name,Category,Order,Family,Scientific_name,Common_name,Record_status,Occurrence,Nativeness,Abundance,Seasonality,Conservation_status,plant_animal_boolean
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,1
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,1
6,ACAD-1006,Acadia National Park,Mammal,Carnivora,Felidae,Lynx rufus,"Bay Lynx, Bobcat, Red Lynx, Wild Cat",Approved,Not Present (Historical Report),Not Native,NaN,Vagrant,NaN,1
8,ACAD-1008,Acadia National Park,Mammal,Carnivora,Mustelidae,Lutra canadensis,"Otter, River Otter",Approved,Present,Native,Common,Breeder,NaN,1
22,ACAD-1022,Acadia National Park,Mammal,Chiroptera,Vespertilionidae,Lasiurus borealis,"Eastern Red Bat, New York Bat, Northern Red Ba...",Approved,Present,Native,Occasional,Migratory,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117878,ZION-1426,Zion National Park,Fish,Cypriniformes,Cyprinidae,Rhinichthys osculus,Speckled Dace,Approved,Present,Native,Common,Breeder,NaN,1
117880,ZION-1428,Zion National Park,Fish,Salmoniformes,Salmonidae,Oncorhynchus clarkii utah,Bonneville Cutthroat Trout,Approved,Present,Not Native,Occasional,Breeder,NaN,1
117881,ZION-1429,Zion National Park,Fish,Salmoniformes,Salmonidae,Oncorhynchus mykiss,Rainbow Trout,Approved,Present,Not Native,Unknown,Breeder,NaN,1
117882,ZION-1430,Zion National Park,Fish,Salmoniformes,Salmonidae,Salmo trutta,Brown Trout,Approved,Present,Not Native,Uncommon,Breeder,NaN,1
117883,ZION-1431,Zion National Park,Fish,Salmoniformes,Salmonidae,Salvelinus fontinalis,Brook Trout,Approved,Present,Not Native,Occasional,Breeder,NaN,1

#### Abundance

In [168]:
#what are the possible labels for the "Abundance" column?
species_df["Abundance"].value_counts()

Unknown       5104
Common        4513
Uncommon      4139
Rare          2664
Occasional    2152
Abundant       901
Name: Abundance, dtype: int64

In [169]:
#When I use the seasonality filters above, this is no longer needed.

#Remove Native and Not Native as those are clearly typos. Replace with 'Entry_error'

#species_df.loc[(species_df.Abundance == 'Native'),'Abundance']='Entry_error'     
#species_df.loc[(species_df.Abundance == 'Not Native'),'Abundance']='Entry_error'
#species_df['Abundance'].value_counts()

#### Considering NaNs

In [170]:
species_df.isnull().sum()

Species_ID                  0
Park_name                   0
Category                    0
Order                      85
Family                     86
Scientific_name             0
Common_name                 0
Record_status               0
Occurrence                  0
Nativeness                137
Abundance                 441
Seasonality                 0
Conservation_status     17219
plant_animal_boolean        0
dtype: int64

In [171]:
species_df.loc[(species_df.Conservation_status.isnull()),'Conservation_status']='None_given'
species_df.head()

/Users/jenniferarbuszewski/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Species_ID,Park_name,Category,Order,Family,Scientific_name,Common_name,Record_status,Occurrence,Nativeness,Abundance,Seasonality,Conservation_status,plant_animal_boolean
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,None_given,1
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,None_given,1
6,ACAD-1006,Acadia National Park,Mammal,Carnivora,Felidae,Lynx rufus,"Bay Lynx, Bobcat, Red Lynx, Wild Cat",Approved,Not Present (Historical Report),Not Native,NaN,Vagrant,None_given,1
8,ACAD-1008,Acadia National Park,Mammal,Carnivora,Mustelidae,Lutra canadensis,"Otter, River Otter",Approved,Present,Native,Common,Breeder,None_given,1
22,ACAD-1022,Acadia National Park,Mammal,Chiroptera,Vespertilionidae,Lasiurus borealis,"Eastern Red Bat, New York Bat, Northern Red Ba...",Approved,Present,Native,Occasional,Migratory,None_given,1

In [172]:
species_df.dropna(subset = ["Abundance"], inplace=True)
species_df.dropna(subset = ["Nativeness"], inplace=True)

<ipython-input-172-5835c68ffb17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  species_df.dropna(subset = ["Abundance"], inplace=True)
<ipython-input-172-5835c68ffb17>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  species_df.dropna(subset = ["Nativeness"], inplace=True)

In [173]:
species_df.isnull().sum()

Species_ID               0
Park_name                0
Category                 0
Order                   68
Family                  67
Scientific_name          0
Common_name              0
Record_status            0
Occurrence               0
Nativeness               0
Abundance                0
Seasonality              0
Conservation_status      0
plant_animal_boolean     0
dtype: int64

#### Not dropping NaN for Order and Family because species names are present. If we need to drop for particular models later, we will.

## Encoding other data

In [55]:
#this data is primarily text
#so we will need to do some label encoding before we can create and train data models

#label encode Park Name
from sklearn.preprocessing import LabelEncoder
class_labels = LabelEncoder()

def LabelEncode (df):
    for col in df:
        df[col] = class_labels.fit_transform(df[col].values)

In [ ]:
#label encode species dataframe
LabelEncode(species_df)
species_df

#### Filtering the data

In [ ]:
#scientific names should be unique - each entry already has unique identifier in "Species ID"
#common names are useful for humans but may just muddy the waters for machine learning/modeling

species_df_filtered = species_df.drop(labels = ["Common Names"], axis = 1)

species_df_filtered.head()

In [ ]:
#check data types - see if our label encoding behaved
species_df_filtered.info()

## Basic Data Exploration & Visualizations

### species

#### number of species

### parks

## Preprocessing

### Removing missing data

###

### Encoding state names and park names/codes?

### Encoding species id, park name, category, order, family, scientific name--well, pretty much everything

# **ETL Code**

In [22]:
#Importing the module and creating a new connection
import psycopg2
con = psycopg2.connect("user=postgres password='PASSWORD'");

from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

 

#Connecting to Postgresql

con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);

#Initializing a cursor and creating a new database for this project

cursor          = con.cursor();

name_Database   = "national_parks_biodiversity";


sqlCreateDatabase = "create database "+name_Database+";"

 

cursor.execute(sqlCreateDatabase);

con.close()

### Plant Species SQL tables

In [ ]:
#Pulling out the data just for "plant" species

In [26]:
#initiate the connection & set the cursor
con = psycopg2.connect("dbname=national_parks_biodiversity user=postgres")
cur = con.cursor()

#Create table and identify column headers, setting primary key to ID for all tables
cur.execute(
    """
    CREATE TABLE plant_species_details (
        park_name text,
        species_id int,
        category text,
        species_order text,
        family text,
        scientific_name text,
        first_common_name text,
        record_status text,
        plant_animal_boolean int,
        PRIMARY KEY (park_name)
    )
    """
)

#commit our changes
con.commit()


#close the connections
con.close()

In [ ]:
#Inserting our data into the new table

con = psycopg2.connect("dbname=national_parks_biodiversity user=postgres")
for i in plant_species_df.index:
    query = """
    INSERT into generation (name, ID, generation) values('%s',%s,%s);
    """ % (pokemon_df['name'][i], pokemon_df['id'][i], pokemon_df['generation'][i])
    cursor = con.cursor()
    print(query)
    cursor.execute(query)
    con.commit()
    cursor.close()
    #single_insert(conn, query)
# Close the connection
con.close()