In [1]:
#imports
import pandas as pd
import numpy as np

#csv -> dataframe
species_df = pd.read_csv('species.csv', dtype = str)
parks_df = pd.read_csv('parks.csv')

species_df.head()
#Note: not sure why there is a 14th data column showing-there are only 13 columns of data-this is confirmed
#in the documentation for the dataset. Will come back and drop that.

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [2]:
#drop that extra column in species_df
species_df = species_df.iloc[: , :-1]
species_df

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanales,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,Present,Native,Uncommon,NaN,NaN
119244,ZION-2792,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis arizonica,Canyon Grape,Approved,Present,Native,Uncommon,NaN,NaN
119245,ZION-2793,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis vinifera,Wine Grape,Approved,Present,Not Native,Uncommon,NaN,NaN
119246,ZION-2794,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,Present,Native,Rare,NaN,NaN
119247,ZION-2795,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,Present,Not Native,Uncommon,NaN,NaN

In [4]:
#sort entries into animals, plants (+ fungi)

plant_animal_boolean_list = []
for entry in species_df['Category']:
    if entry == 'Vascular Plant' or  entry =='Fungi' or entry =='Nonvascular Plant' or entry =='Algae':
        plant_animal = 0
        plant_animal_boolean_list.append(plant_animal)
    else:
        plant_animal = 1
        plant_animal_boolean_list.append(plant_animal)

species_df['plant_animal'] = plant_animal_boolean_list

In [5]:
#check for new column
species_df

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,plant_animal
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,1
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,1
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,1
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,1
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanales,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,Present,Native,Uncommon,NaN,NaN,0
119244,ZION-2792,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis arizonica,Canyon Grape,Approved,Present,Native,Uncommon,NaN,NaN,0
119245,ZION-2793,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis vinifera,Wine Grape,Approved,Present,Not Native,Uncommon,NaN,NaN,0
119246,ZION-2794,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,Present,Native,Rare,NaN,NaN,0
119247,ZION-2795,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,Present,Not Native,Uncommon,NaN,NaN,0

In [6]:
#entries where "Record Status" is a Common Name clearly have errors
#entries with "In Review" record status are missing data in some fields,
#may not be as reliable as "Approved" entries
#BUT they make up a substantial portion of the dataset - let's try keeping them in

species_df = species_df[species_df['Record Status'].isin(["Approved", "In Review"])]
species_df

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,plant_animal
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,1
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,1
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,1
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,1
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanales,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,Present,Native,Uncommon,NaN,NaN,0
119244,ZION-2792,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis arizonica,Canyon Grape,Approved,Present,Native,Uncommon,NaN,NaN,0
119245,ZION-2793,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis vinifera,Wine Grape,Approved,Present,Not Native,Uncommon,NaN,NaN,0
119246,ZION-2794,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,Present,Native,Rare,NaN,NaN,0
119247,ZION-2795,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,Present,Not Native,Uncommon,NaN,NaN,0

In [7]:
#this data is primarily text
#so we will need to do some label encoding before we can create and train data models

#label encode Park Name
from sklearn.preprocessing import LabelEncoder
class_labels = LabelEncoder()

def LabelEncode (df):
    for col in df:
        df[col] = class_labels.fit_transform(df[col].values)

In [8]:
#label encode species dataframe
LabelEncode(species_df)
species_df

<ipython-input-7-80ab2d7ab1d4>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = class_labels.fit_transform(df[col].values)

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,plant_animal
0,0,0,8,41,417,1130,20527,0,4,0,3,12,8,1
1,1,0,8,41,417,29730,22166,0,4,0,0,20,8,1
2,2,0,8,87,352,7202,8773,0,4,1,1,20,5,1
3,3,0,8,87,352,7204,11183,0,0,0,6,20,0,1
4,4,0,8,87,352,45436,3332,0,4,2,1,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119243,119186,55,13,474,2012,40595,9304,0,4,0,4,20,8,0
119244,119187,55,13,546,2301,45396,6190,0,4,0,4,20,8,0
119245,119188,55,13,546,2301,45411,34671,0,4,1,4,20,8,0
119246,119189,55,13,553,2331,23324,8952,0,4,0,3,20,8,0
119247,119190,55,13,553,2331,43839,24780,0,4,1,4,20,8,0

In [9]:
#scientific names should be unique - each entry already has unique identifier in "Species ID"
#common names are useful for humans but may just muddy the waters for machine learning/modeling

species_df_filtered = species_df.drop(labels = ["Scientific Name", "Common Names"], axis = 1)

species_df_filtered.head()

,Species ID,Park Name,Category,Order,Family,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,plant_animal
0,0,0,8,41,417,0,4,0,3,12,8,1
1,1,0,8,41,417,0,4,0,0,20,8,1
2,2,0,8,87,352,0,4,1,1,20,5,1
3,3,0,8,87,352,0,0,0,6,20,0,1
4,4,0,8,87,352,0,4,2,1,0,8,1

In [10]:
#check data types - see if our label encoding behaved
species_df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119191 entries, 0 to 119247
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Species ID           119191 non-null  int64
 1   Park Name            119191 non-null  int64
 2   Category             119191 non-null  int64
 3   Order                119191 non-null  int64
 4   Family               119191 non-null  int64
 5   Record Status        119191 non-null  int64
 6   Occurrence           119191 non-null  int64
 7   Nativeness           119191 non-null  int64
 8   Abundance            119191 non-null  int64
 9   Seasonality          119191 non-null  int64
 10  Conservation Status  119191 non-null  int64
 11  plant_animal         119191 non-null  int64
dtypes: int64(12)
memory usage: 11.8 MB

In [11]:
#modeling to predict "Plant or Animal"
#import train_test_split
from sklearn.model_selection import train_test_split

X = species_df_filtered.drop('plant_animal', axis=1)
y = species_df_filtered['plant_animal']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [12]:
#scale dataset
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [13]:
#set up Logistic Regression model
from sklearn.linear_model import LogisticRegression

regression_pa = LogisticRegression()
regression_pa.fit(X_train, y_train)

LogisticRegression()

In [14]:
#check performance of regression model
regression_pa.fit(X_train, y_train)
y_pred = regression_pa.predict(X_test)
regression_pa.score(X_test, y_test)

0.8958429464323168

In [15]:
#import MSE - check RMSE
from sklearn.metrics import mean_squared_error as MSE

rmse_log_pa = MSE(y_test, y_pred) ** (1/2)
print(rmse_log_pa)

0.3227337192914357

In [16]:
#pretty good results!  let's try other modeling methods

#Decision Tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [17]:
X = species_df_filtered.drop('plant_animal', axis=1)
y = species_df_filtered['plant_animal']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

#scale dataset
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [18]:
dt_pa = DecisionTreeClassifier(max_depth=5, random_state=42)
dt_pa.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5, random_state=42)

In [19]:
y_pred = dt_pa.predict(X_test)

dt_pa_score = accuracy_score(y_test, y_pred)
print(dt_pa_score)

0.9983640253366333

In [20]:
#check rmse
rmse_dt_pa = MSE(y_test, y_pred) ** (1/2)
print(rmse_dt_pa)

0.04044718362712974

In [21]:
#Random Forest
from sklearn.ensemble import RandomForestRegressor

#set seed
SEED = 42

X = species_df_filtered.drop('plant_animal', axis=1)
y = species_df_filtered['plant_animal']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = SEED)

#scale dataset
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [22]:
rf_pa = RandomForestRegressor(n_estimators = 400, min_samples_leaf = 0.1, random_state = SEED)
rf_pa.fit(X_train, y_train)

RandomForestRegressor(min_samples_leaf=0.1, n_estimators=400, random_state=42)

In [23]:
y_pred = rf_pa.predict(X_test)

rmse_rf_pa = MSE(y_test, y_pred) ** (1/2)
print(rmse_rf_pa)

0.25329241565213434

In [24]:
#neural network imports
import tensorflow
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

X = species_df_filtered.drop('plant_animal', axis=1)
y = species_df_filtered['plant_animal']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

#scale dataset
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

number_features = X_train.shape[1]

In [25]:
#defining the model
model_pa = Sequential()
model_pa.add(Dense(100, activation='relu', kernel_initializer='he_normal', input_shape=(number_features,)))
model_pa.add(Dense(100, activation='relu', kernel_initializer='he_normal'))
model_pa.add(Dense(2, activation='softmax'))

In [26]:
#compile model
model_pa.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [27]:
#run Abundance neural network model
model_pa.fit(X_train, y_train, epochs=100, batch_size=100, verbose=2)

Epoch 1/100
954/954 - 2s - loss: 0.1416 - accuracy: 0.9351
Epoch 2/100
954/954 - 1s - loss: 0.0948 - accuracy: 0.9618
Epoch 3/100
954/954 - 1s - loss: 0.0739 - accuracy: 0.9721
Epoch 4/100
954/954 - 1s - loss: 0.0511 - accuracy: 0.9828
Epoch 5/100
954/954 - 2s - loss: 0.0339 - accuracy: 0.9902
Epoch 6/100
954/954 - 1s - loss: 0.0228 - accuracy: 0.9940
Epoch 7/100
954/954 - 3s - loss: 0.0162 - accuracy: 0.9961
Epoch 8/100
954/954 - 2s - loss: 0.0118 - accuracy: 0.9971
Epoch 9/100
954/954 - 2s - loss: 0.0086 - accuracy: 0.9980
Epoch 10/100
954/954 - 2s - loss: 0.0073 - accuracy: 0.9983
Epoch 11/100
954/954 - 2s - loss: 0.0063 - accuracy: 0.9986
Epoch 12/100
954/954 - 1s - loss: 0.0041 - accuracy: 0.9991
Epoch 13/100
954/954 - 1s - loss: 0.0049 - accuracy: 0.9988
Epoch 14/100
954/954 - 1s - loss: 0.0031 - accuracy: 0.9992
Epoch 15/100
954/954 - 1s - loss: 0.0026 - accuracy: 0.9994
Epoch 16/100
954/954 - 1s - loss: 0.0026 - accuracy: 0.9992
Epoch 17/100
954/954 - 1s - loss: 0.0024 - accuracy: 0.9994
Epoch 18/100
954/954 - 1s - loss: 0.0017 - accuracy: 0.9995
Epoch 19/100
954/954 - 1s - loss: 0.0017 - accuracy: 0.9995
Epoch 20/100
954/954 - 2s - loss: 0.0011 - accuracy: 0.9997
Epoch 21/100
954/954 - 2s - loss: 0.0025 - accuracy: 0.9993
Epoch 22/100
954/954 - 1s - loss: 8.4857e-04 - accuracy: 0.9998
Epoch 23/100
954/954 - 1s - loss: 0.0020 - accuracy: 0.9995
Epoch 24/100
954/954 - 2s - loss: 0.0012 - accuracy: 0.9997
Epoch 25/100
954/954 - 1s - loss: 9.2428e-04 - accuracy: 0.9998
Epoch 26/100
954/954 - 1s - loss: 6.0560e-04 - accuracy: 0.9999
Epoch 27/100
954/954 - 1s - loss: 9.8574e-04 - accuracy: 0.9997
Epoch 28/100
954/954 - 1s - loss: 7.8447e-04 - accuracy: 0.9999
Epoch 29/100
954/954 - 1s - loss: 4.6796e-04 - accuracy: 0.9999
Epoch 30/100
954/954 - 1s - loss: 0.0016 - accuracy: 0.9996
Epoch 31/100
954/954 - 1s - loss: 0.0014 - accuracy: 0.9997
Epoch 32/100
954/954 - 2s - loss: 0.0011 - accuracy: 0.9998
Epoch 33/100
954/954 - 1s - loss: 4.3502e-04 - accuracy: 0.9999
Epoch 34/100
954/954 - 1s - loss: 7.6521e-04 - accuracy: 0.9998
Epoch 35/100
954/954 - 1s - loss: 3.0209e-04 - accuracy: 0.9999
Epoch 36/100
954/954 - 1s - loss: 1.2349e-04 - accuracy: 1.0000
Epoch 37/100
954/954 - 1s - loss: 9.0378e-04 - accuracy: 0.9998
Epoch 38/100
954/954 - 1s - loss: 0.0014 - accuracy: 0.9996
Epoch 39/100
954/954 - 1s - loss: 2.2030e-04 - accuracy: 0.9999
Epoch 40/100
954/954 - 1s - loss: 5.9735e-05 - accuracy: 1.0000
Epoch 41/100
954/954 - 1s - loss: 2.9804e-05 - accuracy: 1.0000
Epoch 42/100
954/954 - 1s - loss: 8.1715e-04 - accuracy: 0.9998
Epoch 43/100
954/954 - 1s - loss: 0.0024 - accuracy: 0.9995
Epoch 44/100
954/954 - 1s - loss: 1.0549e-04 - accuracy: 1.0000
Epoch 45/100
954/954 - 2s - loss: 3.3447e-05 - accuracy: 1.0000
Epoch 46/100
954/954 - 3s - loss: 7.6801e-04 - accuracy: 0.9997
Epoch 47/100
954/954 - 1s - loss: 0.0010 - accuracy: 0.9997
Epoch 48/100
954/954 - 1s - loss: 4.3618e-05 - accuracy: 1.0000
Epoch 49/100
954/954 - 2s - loss: 2.4999e-05 - accuracy: 1.0000
Epoch 50/100
954/954 - 2s - loss: 2.9106e-05 - accuracy: 1.0000
Epoch 51/100
954/954 - 1s - loss: 6.8964e-04 - accuracy: 0.9998
Epoch 52/100
954/954 - 1s - loss: 0.0011 - accuracy: 0.9997
Epoch 53/100
954/954 - 1s - loss: 7.3166e-05 - accuracy: 1.0000
Epoch 54/100
954/954 - 1s - loss: 1.6950e-05 - accuracy: 1.0000
Epoch 55/100
954/954 - 1s - loss: 1.3806e-05 - accuracy: 1.0000
Epoch 56/100
954/954 - 1s - loss: 1.1415e-05 - accuracy: 1.0000
Epoch 57/100
954/954 - 1s - loss: 1.0018e-05 - accuracy: 1.0000
Epoch 58/100
954/954 - 1s - loss: 8.6665e-06 - accuracy: 1.0000
Epoch 59/100
954/954 - 1s - loss: 0.0019 - accuracy: 0.9996
Epoch 60/100
954/954 - 1s - loss: 6.1683e-05 - accuracy: 1.0000
Epoch 61/100
954/954 - 1s - loss: 1.3286e-05 - accuracy: 1.0000
Epoch 62/100
954/954 - 2s - loss: 9.8057e-06 - accuracy: 1.0000
Epoch 63/100
954/954 - 1s - loss: 7.7707e-06 - accuracy: 1.0000
Epoch 64/100
954/954 - 1s - loss: 6.7390e-06 - accuracy: 1.0000
Epoch 65/100
954/954 - 1s - loss: 5.6047e-06 - accuracy: 1.0000
Epoch 66/100
954/954 - 1s - loss: 0.0018 - accuracy: 0.9996
Epoch 67/100
954/954 - 1s - loss: 7.9714e-04 - accuracy: 0.9998
Epoch 68/100
954/954 - 1s - loss: 2.9854e-05 - accuracy: 1.0000
Epoch 69/100
954/954 - 1s - loss: 9.9333e-06 - accuracy: 1.0000
Epoch 70/100
954/954 - 2s - loss: 7.9677e-06 - accuracy: 1.0000
Epoch 71/100
954/954 - 1s - loss: 6.6057e-06 - accuracy: 1.0000
Epoch 72/100
954/954 - 1s - loss: 5.3322e-06 - accuracy: 1.0000
Epoch 73/100
954/954 - 1s - loss: 6.7863e-04 - accuracy: 0.9998
Epoch 74/100
954/954 - 1s - loss: 0.0012 - accuracy: 0.9997
Epoch 75/100
954/954 - 1s - loss: 7.0579e-04 - accuracy: 0.9998
Epoch 76/100
954/954 - 1s - loss: 1.4356e-04 - accuracy: 1.0000
Epoch 77/100
954/954 - 1s - loss: 6.9627e-04 - accuracy: 0.9999
Epoch 78/100
954/954 - 1s - loss: 1.1246e-05 - accuracy: 1.0000
Epoch 79/100
954/954 - 1s - loss: 5.4008e-06 - accuracy: 1.0000
Epoch 80/100
954/954 - 1s - loss: 4.2816e-06 - accuracy: 1.0000
Epoch 81/100
954/954 - 1s - loss: 3.8348e-06 - accuracy: 1.0000
Epoch 82/100
954/954 - 1s - loss: 3.1472e-06 - accuracy: 1.0000
Epoch 83/100
954/954 - 1s - loss: 2.4614e-06 - accuracy: 1.0000
Epoch 84/100
954/954 - 2s - loss: 0.0024 - accuracy: 0.9995
Epoch 85/100
954/954 - 1s - loss: 2.2243e-05 - accuracy: 1.0000
Epoch 86/100
954/954 - 1s - loss: 6.6582e-06 - accuracy: 1.0000
Epoch 87/100
954/954 - 1s - loss: 4.6547e-06 - accuracy: 1.0000
Epoch 88/100
954/954 - 1s - loss: 3.6685e-06 - accuracy: 1.0000
Epoch 89/100
954/954 - 1s - loss: 2.9892e-06 - accuracy: 1.0000
Epoch 90/100
954/954 - 1s - loss: 2.4241e-06 - accuracy: 1.0000
Epoch 91/100
954/954 - 2s - loss: 1.9700e-06 - accuracy: 1.0000
Epoch 92/100
954/954 - 2s - loss: 0.0030 - accuracy: 0.9995
Epoch 93/100
954/954 - 2s - loss: 7.7719e-04 - accuracy: 0.9998
Epoch 94/100
954/954 - 1s - loss: 3.9234e-05 - accuracy: 1.0000
Epoch 95/100
954/954 - 1s - loss: 4.8474e-06 - accuracy: 1.0000
Epoch 96/100
954/954 - 1s - loss: 3.1337e-06 - accuracy: 1.0000
Epoch 97/100
954/954 - 1s - loss: 2.5144e-06 - accuracy: 1.0000
Epoch 98/100
954/954 - 1s - loss: 2.1410e-06 - accuracy: 1.0000
Epoch 99/100
954/954 - 2s - loss: 1.8118e-06 - accuracy: 1.0000
Epoch 100/100
954/954 - 2s - loss: 1.6037e-06 - accuracy: 1.0000

Can't get much better performance than this!  Makes sense, as binary classification is the simplest kind of classification problem, and should be the easiest for our model algorithms to figure out.